<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bbackupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        stderr="true"
        >
    <testsuites>
        <testsuite name="AllTests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="testing" value="true" />
    </php>
</phpunit>